$color-red: hsl(1, 90%, 64%);
$color-blue: hsl(219, 85%, 26%);

$color-gray-very-light: hsl(210, 60%, 98%);
$color-gray-light: hsl(211, 68%, 94%);
$color-gray: hsl(219, 14%, 63%);
$color-gray-dark: hsl(219, 12%, 42%);
$color-gray-very-dark: hsl(224, 21%, 14%);
